	html,
	body {
		font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
	}

	.container {
        height: 100%;
        position: relative;
    }

	#map {
		bottom:0px;
        height: 100%;
        left: 0px;
        position: absolute;
        right: 0px;
	}
    h2 {
        color: #fff;
    }
	.options-box {
        background: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 1;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
    .shrunk {
        width: 10%;
    }

    @media only screen and (max-width: 750px) {
        .options-box {
            width: 60%;
        }
    }